th {
	background-color: Coral;
}

td {
	background-color: LightGreen;
	text-align: center;
}

* {
	font-size: 100%;
	font-family: Georgia;
	background-color: GhostWhite;
}

input {
	background-color: LightGreen;
}

p.title {
	font-size: 150%;
	background-color: PaleGoldenRod;
}